<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <%= link_to 'Delete', post_comment_path(@comments, @post, comment, method: :delete), form: {data: {turbo_confirm: "O'rly?"}} %>
    <%= button_to "Destroy this comment", post_comment: comment, method: :delete, form: {data: {turbo_confirm: "O'rly?"}} %>
  <% end %>
</div>
